<h3><%= @ceo.name %> - <%= link_to "Edit Ceo", edit_ceo_path(@ceo) %></h3>
<p>Age: <%= @ceo.age %></p>
<p>Net Worth: <%= @ceo.formatted_net_worth %></p>

<p>Companies: <% @ceo.companies.map do |c| %>
    <%= link_to c.name, company_path(c) %>
  <% end %>
</p>
<p> <%= admin_delete_ceo %> </p>
