<div class="container">
  <div class="col-md-6">
    <h2>Submitted Companies:</h2>
      <ul>
        <% @user.companies.each do |company| %>
          <li><%= link_to company.name, company_path(company) %></li>
        <% end %>
      </ul>
  </div>
  <div class="col-md-6">
    <h2>Hello, <strong><%= @user.name %>!</strong></h2>
    <h4>User Level: <strong><%= "ADMIN" if @user.admin? %></strong></h4>
    <p><%= link_to "Edit Profile", edit_user_path %></p>
    <p><%= button_to "Delete Profile", @user, :method => :delete %></p>
  </div>
</div>
