<h3>Name: <%= @company.name %></h3>
<h4>Ceo: <%= ceo_name_link(@company) %></h4>

<p><%= @company.description %></p>
<p>Year Founded: <%= @company.year_founded.year %>, <%= @company.age %> years old </p><br>

<h4>Technology Breakthroughs: <%= technology_breakthroughs_link(@company) %></h4>
<ol>
  <% @company.technology_breakthroughs.each do |tb| %>
    <li><%= link_to tb.name, company_technology_breakthrough_path(tb.company, tb) %></li>
  <% end %>
</ol><br>

<h4>Problems: <%= problems_solved_link(@company) %></h4>
<h4>Problems Solved: <%= @company.problems_solved %></h4>
<ol>
  <% @company.problems.each do |p| %>
    <li><%= link_to p.name, company_problem_path(p.company, p) %> - <strong><%= p.solved_status %></strong></li>
  <% end %>
</ol><br>
