<h3><%= @technology_breakthrough.name %></h3>
<h4>Company: <%= link_to @technology_breakthrough.company_name, @technology_breakthrough.company %> - <%= link_to "Edit Technology Breakthrough", edit_company_technology_breakthrough_path(@technology_breakthrough.company, @technology_breakthrough) %></h4>
<p>Description: <%= @technology_breakthrough.description %></p>
<p>Introduced: <%= pluralize(@technology_breakthrough.years_since, 'Year') %> ago</p>
