<!DOCTYPE html>
<html>
  <head>
    <title>DrivenWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= logged_in_user_link %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_url %></li>
            <li><%= link_to "View Problems", problems_path %></li>
            <li><%= link_to "View Technology Breakthroughs", technology_breakthroughs_path %></li>
            <li><%= link_to "View Ceo's", ceos_path %></li>
            <li><%= link_to "Add Company", new_company_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= login_link %></li>
            <li><%= logout_link %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-8">
          <%= yield %>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </body>
</html>
